
	
	
	<div class="frame frame1">
		<img src="./images/bg.png" class="road" inline>	
		
		
		<img src="./images/car.png" class="car" inline>
		<img src="./images/pump.png" class="pump" inline>
	</div>
	
